<ion-view title="Plan your EVENTS >>" id="homePage" style="background-color:#AFC9AF;" >
    <ion-content padding="true" class="has-header" ng-controller="homeCtrl">
        <form id="searchForm" class="list">
             <div id="searchApp-bar3" class="button-bar">
             <label class="item item-input" >
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="data.location" type="search" placeholder="Enter location to search events nearby" name="txtLocation" style="width: 900px; height: 20px;border-radius:38px 38px 38px 38px;">
             </label>
              <div class="spacer" style="width: 36px; height: 36px;"></div>         
             <button id="searchApp-button11"  ng-click="search()" style="border-radius:38px 38px 38px 38px;" class="button button-dark  button-block">Search >></button>
             </div> 
        </form>
        <div class="spacer" style="width: 300px; height: 18px;"></div>        
        <div id="map" data-tap-disabled="true"></div>
        <div id="show-list">
            
        </div>
    </ion-content>
</ion-view>